/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul,
ol,
li {
  list-style: none;
}

html,
body {
  height: 100%;
}

/* styling */

:root {
  /* variables */

  --clr-primary-600: rgb(250, 18, 57);
  --clr-primary-300: rgb(255, 194, 204);
  --clr-primary-200: rgb(255, 228, 233);

  --clr-neutral-000: rgb(0, 0, 0);
  --clr-neutral-900: rgb(255, 255, 255);

  --clr-neutral-700: rgb(89, 89, 89);

  --clr-gradient-lignt: #ffe7eb;
  --clr-gradient-dark: #ffbfca;

  --clr-grad-lignt: #ffe4e9;
  --clr-grad-dark: #ffcbd4;
}
